
@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
@Html.Partial("_AlertMessage")
<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h1> Bill Management System</h1>
            </div>
        </div>
    </div>
</div>
