<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
@using System
@using System.Web.Mvc

@{
    string alertType = "";
    string alertMessage = "";
    if (TempData["AlertType"] != null)
    {
        alertType = TempData["AlertType"].ToString();
    }
    if (TempData["AlertMessage"] != null)
    {
        alertMessage = TempData["AlertMessage"].ToString();
    }
}

@if (!string.IsNullOrEmpty(alertMessage))
{
    <div class="alert alert-@alertType alert-dismissible fade show" role="alert" id="alertMessage">
        @alertMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script>
        $(document).ready(function () {
            window.setTimeout(function() {
                $("#alertMessage").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove();
                });
            }, 3000);
        });
    </script>
}